.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    min-height: 78vh;
    color: var(--color2);
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
}

.titleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: medium solid var(--color2);
}

.subTitleContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
}
  
.title {
    font-size: 80px;
    color: var(--color2);
    margin-bottom: 0;
}

.reviewSectionContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1%;
}

.reviewChartContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
