.reviewCardContainer{
  outline: 0.4rem solid var(--color3);
  border-radius: 5px;
  width: 260px;
  background-color: var(--color7);
  box-shadow: 6px 6px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  top: 0px;
  left: 0px;
}

.reviewCardContainer:hover{
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  top: -3px;
  left: -3px;
  transition: all .2s ease;
}

.textBox{
  width: 100%;
  height: 100%;
  padding: 12px;
  font-weight: 600;
}

.title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size:xx-large;
  margin: 0;
}
