.container{
    width: 80%;
    display: block;
    position: absolute;
    top: 0;
    border: 3px solid var(--color9);
    z-index: 99;
    background-color: white;
}

.upperRow{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    background-color: var(--color9);
    align-items: flex-start;
}

.exit{
    border: 1px solid white;
    font-size: larger;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 90%;
}

.exit:hover{
    border: 1px solid var(--color9);
    background-color: white;
    color: var(--color9);
}

.contentBox{
    padding: 5px;
    color: var(--color9);
}

.content{
    font-weight: 100;
}