.main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  width: 100%;
}

.profileContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  color: var(--color2)
}
