.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 78vh;
  color: var(--color2);
  padding-left: 5%;
  padding-right: 5%;
} 

.titleContainer {
  height: 25vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 80px;
  color: var(--color2)
}

.contentContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}

.contentContainer > * {
  flex: 1;
}

.content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content:nth-of-type(1) {
  border-right: solid 1px var(--color2);
}