:root {
  --max-width: 1100px;
  --color1: #17252A;
  --color2: #89C7E7;
  --color3: #f9f773;
  --color3shadow: #f9f773ab;
  --color4: #DEF2F1;
  --color5: #75aecbef;
  --color6: #97CAEF;
  --color7: #FEFFFF;
  --color7Transparent: #feffffe7;
  --color8: #f9f773;
  --color9: #f97373;
  --color10: lightgoldenrodyellow;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  font-family:
  Optima, 
    Snell Roundhand,
    Poppins,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  font-weight: 100;
  color: var(--color7)
}

.header {
  height: 12vh;
  width: 100vw;
  background-color: var(--color2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.pageLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  padding-right: 40px;
}

.sophsLogo {
  position: absolute;
  top: 88px;
  left: 45px;
  z-index: 98;
  box-sizing: border-box;
}

.sophsLogo:hover {
  border: 0.1rem outset transparent;
  outline: 0.1rem solid var(--color3);
  border-radius: 5px;
}

.homeTitle {
  color: white;
  height: 50px;
  margin-top: 40px;
  z-index: 99;
}

.sophsLogoBackgroundContainer {
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  display: flex;
  justify-content: center;
  top: -30px;
  width: 200px;
  height: 140px;
  border-radius: 150px;
  z-index: 96;
}

.sophsLogoBackground{
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  display: flex;
  justify-content: center;
  width: 140px;
  height: 140px;
  border-radius: 150px;
  background-color: var(--color2);
  z-index: 97;
}

.footer {
  height: 8vh;
  width: 100vw;
  background-color: var(--color2);
}


* {
  box-sizing: border-box;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;
  height: 10vh;
  width: 100vw;
  background-color: var(--color2);
}

.instaLogo {
  fill: var(--color3)
}

.link {
  color: var(--color7);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: var(--color3);
}